ul, dl, dd, h1, h2, h3, h4, h5, h6, form, p, span, li {
	padding:0;
	margin:0;
}
ul {
	list-style:none
}
a {
	color:#333333;
	text-decoration:none;
}

a:hover{
	color:#ffffff}
img {
	border:none;
	margin:0;
	padding:0;
	display:block;
	max-width:100%
}
form {
	margin:0;
	padding:0;
	border:0
}
b {
	font-weight:normal
}

body{
 margin:0;
        padding:0;
  background:#fff;
  font-family: "微软雅黑";
 
}
/* css动画*/
#loading {
	width:200px;
	height:100px;
	margin: 50px auto;
}

#loading span {
	height:80px;
	width:15px;
	display:inline-block;
	animation:loader 1s infinite;
}
#loading p {
  color: #f01b00;
  font-size: 20px;
  font-family: Helvetica;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 300;
  letter-spacing: .05em;
  text-align: center;
}
@keyframes loader{
	50% { height:30px; margin-top:50px; opacity:.5; }
}

#loading span:nth-child(1) {animation-delay:.1s;}
#loading span:nth-child(2) {animation-delay:.2s;}
#loading span:nth-child(3) {animation-delay:.3s;}
#loading span:nth-child(4) {animation-delay:.4s;}
#loading span:nth-child(5) {animation-delay:.5s;}
#loading span:nth-child(6) {animation-delay:.6s;}
.item1{
	background: #ff7e00;
}
.item2{
	background: #a2e226;
}
.item3{
	background: #3be492;
}
.item4{
	background: #1fd7b2;
}
.item5{
	background: #04d3d5;
}
.item6{
	background: #f22c2c;
}
/* 小男孩动画 */
.butters{
	width:400px;
	margin:100px auto 50px

}

.butters .hair{
   margin-left: -135px;
   margin-top: -10px;
   position: absolute;
   display: block;
   color: #f6f92c;
   width: 350px;
   height: 20px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #262626;
   border-left:   100px solid transparent;
   -webkit-transform: rotate(0deg);
   -moz-transform:    rotate(0deg);
   -ms-transform:     rotate(0deg);
   -o-transform:      rotate(0deg);
   
   -webkit-transform: scale(0.4);
   -moz-transform:     scale(0.4);
   -ms-transform:      scale(0.4);
   -o-transform:       scale(0.4);   


}
.butters .hair:before {
   border-bottom: 50px solid #262626;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 10px;
   width: 350px;
   top: 30px;
   left: -40px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
.butters .hair:after {
   position: absolute;
   display: block;
   color: #f6f92c;
   top: 0px;
   left: -40px;
   width: 300px;
   height: 20px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid #262626;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(30deg);
   -moz-transform:    rotate(30deg);
   -ms-transform:     rotate(30deg);
   -o-transform:      rotate(30deg);
   content: '';
}
.butters .head{
	position:absolute;
	width:250px;
	height:250px;
	background:#edd84d;
	z-index:-1;
	margin-left: 20px;
	margin-top: 20px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;	
	-o-border-radius:100%;	
	border-radius:100%;	
}

.butters .eyebrow{
	position: absolute;
	margin-left: 65px;
	margin-top: 85px;
	width: 30px;
	height: 3px;
	background:#000;
	z-index: 4;
	
	-webkit-transform:rotate(-25deg);
	-moz-transform:rotate(-25deg);
	-ms-transform:rotate(-25deg);
	-o-transform:rotate(-25deg);	
	transform:rotate(-25deg);
	
	-webkit-animation: eyebrow_raise 8s infinite step-start 0s;
	-moz-animation: eyebrow_raise 8s infinite step-start 0s;
	-o-animation: eyebrow_raise 8s infinite step-start 0s;
	-ms-animation: eyebrow_raise 8s infinite step-start 0s;
	animation: eyebrow_raise 8s infinite step-start 0s;
}

@-webkit-keyframes eyebrow_raise{
	0%{ margin-top: 85px; margin-left: 65px;}
	20%{ margin-top: 80px; margin-left: 80px;}
	8%{ margin-top: 85px; margin-left: 65px;}

}	
.butters .eyebrow:after{
	content:"";
	position: absolute;
	margin-left: 75px;
	margin-top: 35px;
	width: 30px;
	height: 3px;
	background:#000;
	z-index: 4;
	
	-webkit-transform:rotate(50deg);
	-moz-transform:rotate(50deg);
	-ms-transform:rotate(50deg);
	-o-transform:rotate(50deg);	
	transform:rotate(50deg);
	
	-webkit-animation: eyebrow_raise_after 8s infinite step-start 0s;
	-moz-animation: eyebrow_raise_after 8s infinite step-start 0s;
	-o-animation: eyebrow_raise_after 8s infinite step-start 0s;
	-ms-animation: eyebrow_raise_after 8s infinite step-start 0s;
	animation: eyebrow_raise_after 8s infinite step-start 0s;
	
}

@-webkit-keyframes eyebrow_raise_after{
	0%{ margin-top: 35px; margin-left: 75px;}
	20%{ margin-top: 30px; margin-left: 55px;}
	8%{ margin-top: 35px; margin-left: 75px;}

}

.butters .eye{
	position:absolute;
	top:90px;
	left:60px;
	width:60px;
	height:80px;
	background-color:#FFF;
	z-index:3;

	-webkit-border-bottom-right-radius:5px 5px;	
	-moz-border-bottom-right-radius:5px 5px;	
	-ms-border-bottom-right-radius:5px 5px;	
	-o-border-bottom-right-radius:5px 5px;			
	border-bottom-right-radius:5px 5px;		
	
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;			
	-o-border-radius:100%;	
	border-radius:100%;
			
	-webkit-transform:rotate(25deg);
	-moz-transform:rotate(25deg);
	-ms-transform:rotate(25deg);
	-o-transform:rotate(25deg);	
	transform:rotate(25deg);		
}
.butters .eye:after{
	content:"";
	position:absolute;
	display:block;
	top: -25px;
	right:-62px;
	width:60px;
	height:80px;
	
	background-color:#FFF;

	-webkit-border-radius:100%;
	-moz-border-radius:100%;		
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
				
	-webkit-transform:rotate(-50deg);
	-moz-transform:rotate(-50deg);
	-ms-transform:rotate(-50deg);	
	-o-transform:rotate(-50deg);	
	transform:rotate(-50deg);		
}
.butters .iris{
	position:absolute;
	margin-top: 30px;
	right:10px;
	width:7px;
	height:7px;
	background:#000;
	
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;					
	border-radius:100%;	
	
	-webkit-animation: iris_down 6s infinite step-start 0s;
	-moz-animation: iris_down 6s infinite step-start 0s;
	-o-animation: iris_down 6s infinite step-start 0s;
	-ms-animation: iris_down 6s infinite step-start 0s;
	animation: iris_down 6s infinite step-start 0s;
	
}
.butters .iris:after{
	content:"";
	position:absolute;
	margin-top: -10px;
	left:25px;
	width:7px;
	height:7px;
	background:#000;
	z-index:1;
	
	-webkit-border-radius:100%;
	-moz-border-radius:100%;			
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;			
}

@-webkit-keyframes iris_down{
	30%{ margin-top: 5px; }
	30%{ margin-top: 35px; }
	30%{ margin-top: 35px; }

}	

.butters .closed_eye{
	position:absolute;
	top:90px;
	left:60px;
	width:60px;
	height:80px;
	background-color:#ffedcb;
	border:1px solid #eed6a8;
	z-index:3;
	opacity:0;
	
	-webkit-border-bottom-right-radius:5px 5px;	
	-moz-border-bottom-right-radius:5px 5px;	
	-ms-border-bottom-right-radius:5px 5px;	
	-o-border-bottom-right-radius:5px 5px;			
	border-bottom-right-radius:5px 5px;		
	
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;			
	-o-border-radius:100%;	
	border-radius:100%;
			
	-webkit-transform:rotate(25deg);
	-moz-transform:rotate(25deg);
	-ms-transform:rotate(25deg);
	-o-transform:rotate(25deg);	
	transform:rotate(25deg);		

	-webkit-animation: close_eyes 3s infinite step-start 0s;
	-moz-animation: close_eyes 3s infinite step-start 0s;
	-o-animation: close_eyes 3s infinite step-start 0s;
	-ms-animation: close_eyes 3s infinite step-start 0s;
	animation: close_eyes 3s infinite step-start 0s;
}
@-webkit-keyframes close_eyes{
	0%{ opacity: 0; }
	5%{ opacity: 1; }
	8%{ opacity: 0; }

}	
.butters .closed_eye:after{
	content:"";
	position:absolute;
	display:block;
	top:-25px;
	right:-62px;
	width:60px;
	height:80px;
	background-color:#ffedcb;
	border:1px solid #eed6a8;

	-webkit-border-radius:100%;
	-moz-border-radius:100%;		
	-ms-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
				
	-webkit-transform:rotate(-50deg);
	-moz-transform:rotate(-50deg);
	-ms-transform:rotate(-50deg);	
	-o-transform:rotate(-50deg);	
	transform:rotate(-50deg);	
	
	-webkit-animation: close_eyes 3s infinite step-start 0s;
	-moz-animation: close_eyes 3s infinite step-start 0s;
	-o-animation: close_eyes 3s infinite step-start 0s;
	-ms-animation: close_eyes 3s infinite step-start 0s;
	animation: close_eyes 3s infinite step-start 0s;
		
}
.butters .closed_eyelid{
	position:absolute;
	top:30px;
	left:0px;
	border-top:1px solid #eed6a8;
	width:60px;
	height:50px;
	border-radius:100%;	
	
}
.butters .closed_eyelid:after{
	content:"";
	position:absolute;
	top:-35px;
	left:70px;
	border-top:1px solid #eed6a8;
	width:60px;
	height:50px;
	border-radius:100%;
	z-index:3;
	
	-webkit-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
	-ms-transform:rotate(-60deg);	
	-o-transform:rotate(-60deg);	
	transform:rotate(-60deg);
}

 
.butters .mouth{
            margin-top: 200px;
            position:relative;
            width:30px;
            height:25px;
            border-top:6px solid #6f6603;
            border-left:6px solid #6f6603;
            border-top-left-radius: 100%;
            margin-left:110px;
            -webkit-transform:rotate(40deg);
            -moz-transform:rotate(40deg);
            -ms-transform:rotate(40deg);	
            -o-transform:rotate(40deg);	
            transform:rotate(40deg);
         
         -webkit-animation: closes_mouth 8s infinite step-start 0s;
         -moz-animation: closes_mouth 8s infinite step-start 0s;
         -o-animation: closes_mouth 8s infinite step-start 0s;
         -ms-animation: closes_mouth 8s infinite step-start 0s;
         animation: closes_mouth 8s infinite step-start 0s;
            
  }
    
.butters .opened_mouth{
            position:relative;
            margin-left: 100px;
            margin-top: -20px;
            width:40px;
            height:10px;
            border-radius: 100%;
  			background-color: #6f6603;
  			z-index: 4;
  			opacity: 0 !important;
  			
  			-webkit-transform:rotate(15deg);
  			-moz-transform:rotate(15deg);
  			-ms-transform:rotate(15deg);	
  			-o-transform:rotate(15deg);	
  			transform:rotate(15deg);
  			
  	-webkit-animation: open_mouth 8s infinite step-start 0s;
  	-moz-animation: open_mouth 8s infinite step-start 0s;
  	-o-animation: open_mouth 8s infinite step-start 0s;
  	-ms-animation: open_mouth 8s infinite step-start 0s;
  	animation: open_mouth 8s infinite step-start 0s;
  }
  @-webkit-keyframes open_mouth{
  	0%{ opacity: 0; }
  	20%{ opacity: 1; }
  	8%{ opacity: 0; }
  
  }
  @-webkit-keyframes closes_mouth{
  	0%{ opacity: 1; }
  	20%{ opacity: 0; }
  	8%{ opacity: 1; }
  
  }
.butters .body{
	position:relative;
	top:210px;
	left:65px;
	width:160px;
	height:200px;
	background:#64d0b6;
	border:solid #64d0b6;
	border-width:0 3px 0 0;
	z-index:-2;
	
	-webkit-border-top-right-radius:20px 120px;	
	-moz-border-top-right-radius:20px 120px;
	-ms-border-top-right-radius:20px 120px;
	-o-border-top-right-radius:20px 120px;		
	border-top-right-radius:20px 120px;	
	
	-webkit-border-bottom-right-radius:20px 120px;	
	-moz-border-bottom-right-radius:20px 120px;	
	-ms-border-bottom-right-radius:20px 120px;	
	-o-border-bottom-right-radius:20px 120px;				
	border-bottom-right-radius:20px 120px;	
	
	-webkit-transform:rotate(90deg);	
	-moz-transform:rotate(90deg);	
	-ms-transform:rotate(90deg);	
	-o-transform:rotate(90deg);			
	transform:rotate(90deg);	
}

.butters .armpits{
	position: absolute;
	width:70px; 
	height:190px;
	margin-top: 5px; 
  	background: #64d0b6;
	z-index: 1;
}
.butters .ziper{
	position:absolute;
	top:100px;
	left:50px;
	width:110px;
	height:2px;
	background:#000;
	z-index:10;
}
.butters .arm{
	position:relative;
	top:135px;
	left:40px;
	width:50px;
	height:150px;
	background: #64d0b6;
	border:solid #000;
	border-width:0 0 0 2px;
	
	-webkit-border-top-right-radius:40px 120px;
	-moz-border-top-right-radius:40px 120px;
	-ms-border-top-right-radius:40px 120px;
	-o-border-top-right-radius:40px 120px;		
	border-top-right-radius:40px 120px;
		
	-moz-border-bottom-right-radius:40px 120px;			
	-webkit-border-bottom-right-radius:40px 120px;	
	-ms-border-bottom-right-radius:40px 120px;	
	-o-border-bottom-right-radius:40px 120px;	
	border-bottom-right-radius:40px 120px;				

	-webkit-transform:rotate(110deg);
	-moz-transform:rotate(110deg);
	-ms-transform:rotate(110deg);
	-o-transform:rotate(110deg);
	transform:rotate(110deg);			
}
.butters .arm:after{
	content:"";
	position:absolute;
	display:block;
	top:75px;
	right:200px;
	width:50px;
	height:150px;
	background:#64d0b6;
	border:solid #000;
	border-width:0 2px 0 0;
	
	
	-webkit-border-top-left-radius:40px 120px;
	-moz-border-top-left-radius:40px 120px;
	-ms-border-top-left-radius:40px 120px;
	-o-border-top-left-radius:40px 120px;			
	border-top-left-radius:40px 120px;
		
	-webkit-border-bottom-left-radius:40px 120px;	
	-moz-border-bottom-left-radius:40px 120px;		
	-ms-border-bottom-left-radius:40px 120px;	
	-o-border-bottom-left-radius:40px 120px;	
	border-bottom-left-radius:40px 120px;			
		
	-webkit-transform:rotate(-35deg);
	-moz-transform:rotate(-35deg);	
	-ms-transform:rotate(-35deg);
	-o-transform:rotate(-35deg);
	transform:rotate(-35deg);	
}
.butters .hand{
	position:absolute;
	top:-10px;
	left: -15px;
	width:55px;
	height:55px;
	background:#ffedcb;

	-webkit-border-radius:100%;	
	-moz-border-radius:100%;
	-ms-border-radius:100%;	
	-o-border-radius:100%;	
	border-radius:100%;	
}


.butters .hand:after{
	content:"";
	position:absolute;
	top:80px;
	left:-220px;
	width:55px;
	height:55px;
	background: #ffedcb;
	z-index:1;
		
	-webkit-border-radius:100%;			
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;		
	border-radius:100%;	
}

.butters .thumb{
	position:absolute;
	top:30px;
	left: 0px;
	width:20px;
	height:20px;
	background:#ffedcb;
	border: 1px solid #333;
	-webkit-border-radius:100%;	
	-moz-border-radius:100%;
	-ms-border-radius:100%;	
	-o-border-radius:100%;	
	border-radius:100%;	
	z-index: 4;
}


.butters .thumb:after{
	content:"";
	position:absolute;
	top:70px;
	left:-180px;
	width:20px;
	height:20px;
	border: 1px solid #333;
	background: #ffedcb;
	z-index:4;
		
	-webkit-border-radius:100%;			
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;		
	border-radius:100%;	
}
.butters .leg{
	position:relative;
	top:160px;
	left:54px;
	width:185px;
	height:50px;
	background:#195438;
	z-index:-3;
}
.butters .feet{
	position:absolute;
	top:50px;
	left:-5px;
	width:195px;
	height:10px;
	background:#000;

	-webkit-border-radius:15px;		
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	-o-border-radius:15px;			
	border-radius:15px;
}
/* 购物车 */	
.content_cart{
                      margin: 300px auto 100px;
                      width: 990px;
                      border-top:2px solid #e6e6e6;}
.order_content{ 
                      border: 1px solid #ccc;
                      overflow: hidden;
                      padding: 25px 0;
                      height:80px;
                      clear:both}
.content_cart h1{ 
color: #f40;font-size:16px;padding:20px 0}
.info_content li{ float:left;position:relative}
.item-pic{width:80px;float:left}
.item-info{float: left; padding-left: 15px;width: 220px;font-size:14px;}
.td-inner{padding-left: 15px;
width: 322px;}
.order_content ul{ clear:both;overflow:hidden}
.info_content{padding:0 15px}
.item-props{ padding-left: 50px;
padding-right: 30px;}
.item-props p{ color:#9c9c9c;font-size:14px;}
.text-amount{  display:block;
                        height:30px;
				 line-height:30px;
				 border:1px solid #ddd;
				 width:50px;
				 float:left;
				  text-align:center;
				   font-size:22px;
				   color:#555555;
}
.item-amount span {  display:block;
                          float:left;
			       width:30px;
				 height:30px;
				 line-height:26px;
				 background:#e6e6e6;
				 text-align:center;
				 font-size:22px;
				 font-weight:normal;
				 color:#333333;
				 margin:0 5px;
				 border:1px solid #ddd;
				 cursor:pointer
 
}
.item-amount .J_Plus{ right:0}
.item-amount {margin-top: 3px;
overflow: hidden;
padding-left: 20px;

}
.text_totalprice{
                       color: #f40;
                       font-size: 20px;
                       font-weight: 700;
                       padding: 0 0 0 30px;
                       width: 100px;}
.text_price{
                        font-weight: 700;
				font-size:16px}	
.float-bar-holder{  background:#e6e6e6;
                           overflow:hidden;
				  padding:5px 0;
				  line-height: 45px;
				  clear:both} 	
.float-bar-holder li{ float:left}	
.btn{  
       background:#b0b0b0;
       border-left: 1px solid #e7e7e7;
       color: #fff;
        cursor: not-allowed;
       text-decoration: none;
	   font-size:18px;
          width: 119px;
		  height:45px;
		  line-height:45px;
		   text-align:center;}	
.choose_price{  padding-left:50px}
.float-bar-holder p{
                              float:left;
				 font-size:16px}
.list_price{
             float: right;
}	
.total_price { padding:0 15px}	
.total_price span,.choose_price span{    
                        color: #f40;
                        font-size: 22px;
                     
}   
.radio_item_none,.radio_item_all{padding-left:20px;cursor:pointer;color:#f40;font-size:16px}
.J_DeleteSelected:hover{color:#f40;cursor:pointer ;}
.operations a{font-size:14px}
/* 图片轮播 */	
.num_list .num{
font-size:18px;
color:#ffffff;
     display:block;
	 float:left;
     width:25px;
	 height:25px;
	 text-align:center;
	 line-height:25px;
	 margin-left:5px;
	 background:#ccc;
	 color:#ffffff；
	}
.num_list .choose_num{background-color:#ff6c22}	 
.num_list(overflow:hidden)
.num_list li{float:left}	
.img_list li { position:relative ;}
.img_list{ width:800px ;height:2574px;position:relative}    
#box{position:relative;width:800px;height:429px;background:#fff;overflow:hidden;border-radius:5px;margin:30px auto 120px;cursor:pointer;}
#box .list{position:relative;width:800px;height:429px;overflow:hidden;}
#box .list ul{position:absolute;top:0;left:0;}
#box .count{position:absolute;right:0;bottom:5px;}
#box .count li{color:#fff;float:left;width:20px;height:20px;cursor:pointer;margin-right:5px;overflow:hidden;background:#F90;opacity:0.7;filter:alpha(opacity=70);border-radius:20px;}
#box .count li.current{color:#fff;opacity:1;filter:alpha(opacity=100);font-weight:700;background:#f60;}
#tmp{width:100px;height:100px;background:red;position:absolute;}
.num_list{position:absolute;
           bottom:15px;
		   right:15px;
		   z-index:99
          }
.num_list .choose_num{background-color:#ff6c22}	
.page{ width:1000px;margin:0 auto;clear:both;overflow:hidden}

/*仿网易移动端*/
.icon-current{
	font-size:0.32rem;
	
}
.div-wrap{
	
	background:#fff;
	max-width:640px;

	margin:0 auto;
	position: relative;
	
}
.nav-main{
	background:#f33;
	padding:0 5%;
    position:relative

	
	
}
.header-wrap{
	overflow: hidden;
padding: 2.8% 0;
	
}
.topnav_item_text{
	display: block;;
	float:left;
	color:#fff;
	padding-right:5.9%;
	opacity:0.75
		
}
/*箭头*/
.u-icon-content
{
	display:block;
 width:13px;
 height:13px;
 border-style: solid;
 border-color:#fff;
 border-width:0 0 2px 2px;
 position: absolute;
 top:24%;
 right:5%;
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
font-size:18px
}
/* 图片轮播 */
.imglist{
	position: relative;
		overflow:hidden;
}
.imglist img{
	display:block ;
	max-width: 100%;
	
}
.img-title{

	position:absolute;
	bottom:0;
	color:#fff;
	z-index: 99;
	padding:3% 5%;
	width:100%;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.24) 40%, rgba(0, 0, 0, 0.29) 47%, rgba(0, 0, 0, 0.65) 95%) repeat scroll 0 0;

}
.img-title-text{
	color:#fff;
	font-weight: normal;
}
.rotating-tips{
	display: inline-block;
	padding:1% 2%;
	font-size:14px;
	background:red;
	border-radius:10%;
	color:#fff
}

.rotatitem{
	padding:4% 0;
	margin:0 4%;
    border-bottom:1px solid #e6e6e6;
}
.oly_bar{
	padding:1% 0;
	margin:5% 4% 2%;
	background-size:100% 100%;
	background:url(img/oly_bar_game_bg.png) no-repeat 0 0
}
.oly_bar p{
	display:inline-block;
	width:47.5%;
	text-align:center;
}
.oly_bar p a{
	font-size:15px;
	color:#149edf;
	font-style:italic;
}
.oly_bar span{
	color:#c7e9f8;
	font-size:14px
}

.content-list{
	padding:0 4%
}
.list-img{
	display:block;
	max-width:100%;
	width:26.8%;
	position:relative;
	；
}
.list-item{
	overflow: hidden;
	position:relative;
	border-bottom:1px solid #e6e6e6;
	padding:3% 0
}
.list-item span{
	display:inline-block;
	float:left
}
.list-text{
overflow: hidden;
float:right;
width: 70%;

}
.list-img b{
	display: inline-block;
	padding:3% 3%;
	background:#149EDF;
	position:absolute;;
	top:0;
	left:0;
	color:#fff;
	font-weight:normal
}
.list-icon{
	padding-top:2%;
	position:relative;
	clear:both;
}
.list-icon p{
	display:inline-block;
}
.list-tit{
	color:#f33 ;
	font-size:12px;
	padding:0 1px;
	border:1px solid #f33 
}
.list-time,.list-quantity{
	color:#888;
	font-size:13px
}
.list-quantity{
	position:absolute;
	right:0;
	bottom:0
}
.list-img b{
	font-size:12px
}


/*媒体查询 页面宽度 设置字体大小*/

@media screen and (max-width:320px) {
    .img-title,html{font-size:14px;}
   .oly_bar p a{
	font-size:12px
}
  .list-img b{
  	font-size:12px
  }
}

@media screen (min-width:320px)and(max-width:360px){
	
    .img-title,html{font-size:16px;}
}
@media screen (min-width:370px)and(max-width:400px) {
	
    .img-title,html {font-size:16.6px;}
}
@media screen and (min-width: 400px) {
	
    .img-title,html {font-size:18px;}
}
 
@media screen and (min-width: 440px) {
	
    .img-title,html {font-size:22px;}
}
 
@media screen and (min-width: 480px) {
	
    .img-title,html {font-size:24px;}
}
 
@media screen and (min-width: 640px) {
	.u-icon-content{width:16px;height:16px;}
    .img-title,html {font-size:26px;}
}
